<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Project-1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>MasterJSONServlet</servlet-name>
		<servlet-class>servlets.MasterJSONServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>MasterJSONServlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MainViewServlet</servlet-name>
		<servlet-class>servlets.MainViewServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>MainViewServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MainViewServlet</servlet-name>
		<servlet-class>servlets.MainViewServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>MainViewServlet</servlet-name>
		<url-pattern>/manager</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MainViewServlet</servlet-name>
		<servlet-class>servlets.MainViewServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>MainViewServlet</servlet-name>
		<url-pattern>/employee</url-pattern>
	</servlet-mapping>
	
	

</web-app>